
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

  .text{
    font-family: Arial, sans-serif;
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-top: 200px;
  }
  .counter{
    font-size: 36px;
  color: #007bff;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #007bff; 
  border-radius: 5px;
  width: 200px;
  margin: 0 auto;
  }